body{
    padding: 0;
    border: 2px solid black;
    margin: 15px;

}

header, nav, footer, .box, aside {
    margin: 15px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    height: 200px;
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
    height: 150px;
    
}

.box {
    height: 400px;
    justify-content: space-around;
    display: flex;
    
    
}

.box div {
    justify-content: right;

}

.box div:first-child {
   
    flex-direction: column;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    width: 100%;
    height: 50%;
    background-color: mediumslateblue;
}
section{
    width: 100%;
    height: 50%;
    background-color: yellow;
}


.box div:last-child {
    background-color: royalblue;
    flex-direction: column;
    width: 40%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

aside{
    margin: 15px; 
}

.box2 {
margin: 15px;


}


footer{
    bottom: 0;
    background-color: greenyellow;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}