body{
    padding: 0;
    border: 2px solid black;
    margin: 15px;
    
    

}

header, nav, footer, .box, aside, section, article {
    margin: 15px;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    height: 200px;
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
    height: 150px;
    
}

.box {
    height: 500px;
    line-height: 100%;
    max-height: max-content;
    justify-content: space-around;
    display: flex;
    
    
}

.box div {
    justify-content: right;

}

.box div:first-child {
   
    flex-direction: column;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box, section, aside, article {
    margin: 15px;
    border: 15px;
}

article{
    width: 100%;
    height: 50%;
    background-color: mediumslateblue;
    display: flex;
    justify-content: center;
    align-items: center;

}
section{
    width: 100%;
    height: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}


.box div:last-child {
    background-color: royalblue;
    flex-direction: column;
    width: 40%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

aside{
    
}

.box2 {
margin: 15px;


}


footer{
    bottom: 0;
    background-color: greenyellow;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}