body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}

.block {
    width: 20%;
    height: 300px;
}

.block_red {
background-color: coral;
}

.block_green {
background-color: aquamarine;
}

.block_blue {
background-color: violet;
}

.block_yellow {
background-color: lightcoral;
}

.block_black {
background-color: lightgreen;
}